<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register Form</h1>


<form th:action="@{/register}" th:object="${registerForm}" method="post">
    <label for="userName">Username</label>
    <input type="text" id="userName" name="userName" autofocus="autofocus"/>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword"/>
    <br/>
    <input type="submit" value="Register"/>

</form>
</body>
</html>